import os

# confluence personal access token with admin permissions
os.environ['WIKI_PERSONAL_TOKEN'] = ''
os.environ['JIRA_PERSONAL_TOKEN'] = 'yourJIRApersonalAccessToken'
os.environ['JIRA_LOGIN_URL'] = ''

